# Palmer Penguins
This notebook contains my analyis of the famous palmer penguins dataset.

## Palmer Penguins Dataset Overview

The Palmer Penguins dataset is a dataset that is commonly used as an introduction to the field of data analytics. It contains data on penguins collected from three Antarctic islands: Dream, Torgersen, and Biscoe located in the Palmer Archipelago near Palmer Station. The dataset was created by Dr. Kristen Gorman and the Palmer Station, Antarctica LTER. This dataset shares similarities with the famous Iris dataset, both datasets are of manageable size for beginner data analalysts and provide a good starting point to explore data analytical concepts and relationships. https://journal.r-project.org/articles/RJ-2022-020/

## Variables

1. species:
    
    The species of penguins. This is a categorical variable with three levels: Adelie, Chinstrap, and Gentoo.

2. island:

    The island where the penguins were observed. This is also a categorical variable with three levels: Dream, Torgersen, and Biscoe.

3. bill_length_mm:

    The length of the penguin's bill in millimeters. This is a numerical variable representing a physical characteristic of the penguins.

4. bill_depth_mm:

    The depth of the penguin's bill in millimeters. Like bill_length_mm, this is also a numerical variable representing a physical characteristic.

5. flipper_length_mm:

    The length of the penguin's flipper in millimeters. Again, this is a numerical variable representing a physical characteristic.

6. body_mass_g:

    The body mass of the penguin in grams. This is another numerical variable representing the weight of the penguins.

7. sex:

    The sex of the penguin, if known. This is a categorical variable with two levels: male and female.

## Dataset Size

The Palmer Penguins dataset consists of 344 rows and 7 columns.

## Purpose

The data is used to further our knowledge on penguin biology. It allows data scientists to explore relationships between the variables such as how penguins of different sexes, islands, and species may differ physically.

## Data Source

This data was collected at the Palmer station in Antartica and is made publically avaiable for research and educational purposes.

## Variable Types For Modeling Palmer Penguin Data Set

To begin investing the Palmer Peguin Data Set, the variables must be organised into specific types to allow the data to be modeled and graphically represented. The following variables should be considered to achieve this:

1. Categorical Variables (https://statisticseasily.com/categorical-variable/)

A categorical variable is a type of qualitative data that is grouped into distinct categories or classifications. These variables are non-numeric and represent some qualitative property of the data. In the Palmer Penguin Data Set, the sex of the penguin, the species of the penguin, and which island it was sighted on can all be classed as categorical variables. Categorical variables are typically serperated into two types: nominal and ordinal. Nominal variables are categorical variables without a natural or intrinsic order like name, sex etc. Ordinal variables imply a specific rank or order, an example of this would be a rating scale (poor, fair, good, very good, excellent). Each value has a particular ranking order, poor representing the bottom and excellent at the top. All the Categorical data used in this project falls under the nominal categorical variable type (sex, species, island).

2.

In [29]:
# Data frames.
import pandas as pd

In [30]:
# Load the penguins data set.
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv")

In [31]:
# Let's have a look.
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [32]:
# Look at the first row.
df.iloc[0]

species                 Adelie
island               Torgersen
bill_length_mm            39.1
bill_depth_mm             18.7
flipper_length_mm        181.0
body_mass_g             3750.0
sex                       MALE
Name: 0, dtype: object

In [33]:
# Sex of the penguins.
df["sex"]

0        MALE
1      FEMALE
2      FEMALE
3         NaN
4      FEMALE
        ...
339       NaN
340    FEMALE
341      MALE
342    FEMALE
343      MALE
Name: sex, Length: 344, dtype: object

In [34]:
# Count the number of penguins of each sex.
df["sex"].value_counts()

sex
MALE      168
FEMALE    165
Name: count, dtype: int64

In [35]:
# Describe the data set.
df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

***

### End